body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.container {
  background-color: #dedce0;
}
.rating-style {
  color: #0dcaf0;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  height: 470px;
  padding: 10px;
  transition: 0.6s;
  border-radius: 10px;
  background-color: #f4eddd;
  border: 1px solid transparent;
}
.single-product:hover {
  box-shadow: 4px 4px 7px black;
  border-radius: 10px;
  border: 1px solid black;
}
.product-thumb {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.product-image {
  width: 150px;
  height: 150px;
}
.icon-bg {
  color: #e77c40;
}
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: white;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
